

    <script type="text/javascript">
$(function () {
        $('#container').highcharts({
            chart: {
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: 'Graph Data',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
                title: {
                    text: ''
                },                
                categories: ['Mon', 'Tues', 'Wed', 'Thurs', 'Fri']
            },
            yAxis: {
                title: {
                    text: 'Accuracy'
                },
                min: 0,
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ''
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                title: {
                    text: 'Children'
                },
                x: -10,
                y: 100,
                borderWidth: 0
            },
            //This removes the highcharts.com watermark from the bottom of the page
            credits: {
                enabled: false
            },
            series: [{
                name: 'John',
                data: [7.0, 6.9, 9.5, 14.5, 18.2]
            }, {
                name: 'Dylan',
                data: [0, 0.8, 5.7, 11.3, 17.0]
            }, {
                name: 'Paul',
                data: [0, 0.6, 3.5, 8.4, 13.5]
            }, {
                name: 'George',
                data: [3.9, 4.2, 5.7, 8.5, 11.9]
            }]
        });
    });
    

    </script>


<div id="container" style="min-width: 400px; height: 500px; margin: 0 auto"></div>